<nav>
  <div class="site-title">
    <a href="/"><h1>Reinsdyr Register</h1></a>
    <p>Kukkik Ano</p>
  </div>
  <ul>
    <li><a href="/">Søk</a></li>
    <li><a href="/about">Om</a></li>
    <li><a href="/kart">Kart</a></li>
  </ul>
</nav>