<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <h2>Om oss</h2>
        <p>Denne databasen inneholder informasjon om hvert reinsdyr, hver reinsdyrflokk, hver flokkeier, og hvert beiteområde.</p>
        <p>Du kan søke etter et reinsdyr, og få opp all informasjon som vi har om det reinsdyret.</p>
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>