<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="recipes content">
    <h2>Reinsdyr Kart</h2>
    <div>
        <img src="språkkart.svg" alt="kart over språkområder">
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>